<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header class="header">
        <button class="btn--action" id="btn-logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out"><path d="m16 17 5-5-5-5"/><path d="M21 12H9"/><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/></svg>
        </button>
    </header>
    <main>
        <section class="content__create">
            <header>
                <h1 class="tlt">Nuevo alumno</h1>
            </header>
            <form action=""> 
                <div class="divInput">
                    <p>Nombre<span class="mandatory">*</span></p>
                    <input type="text" placeholder="Nombre" name="first_name">
                </div>
                <div class="divInput">
                    <p>Apellidos<span class="mandatory">*</span></p>
                    <input type="text" placeholder="Apellidos" name="last_name">
                </div>
                <div class="divInput">
                    <p>Email<span class="mandatory">*</span></p>
                    <input type="text" placeholder="Email" name="email">
                </div>
                <div class="divInput">
                    <p>DNI<span class="mandatory">*</span></p>
                    <input type="text" placeholder="DNI" name="dni">
                </div>
                <div class="divInput">
                    <p>Contraseña<span class="mandatory">*</span></p>
                    <input type="password" placeholder="Contraseña" name="password">
                </div>
            </form>
            <div class="form__divBtn">
                <button type="submit" class="secondaryBtn" id="btnCancel">Cancelar</button>
                <button type="submit" class="primaryBtn" id="btnSave">Guardar</button>  
            </div>
        </section>
    </main>
    <script type="module" src="../js/createStudentView.js"></script>
    <script type="module" src="../js/logout.js" defer></script>
</body>

</html>